<nav>
  <div class="navbox">
    <ul class="nav">
      <li class="nav"><a href="{{site.baseurl}}about.html" class="nav">About</a></li>
      <li class="nav"><a href="{{site.baseurl}}services.html" class="nav">Services</a></li>
      <li class="nav"><a href="{{site.baseurl}}projects.html" class="nav">Projects</a></li>
      <li class="nav"><a href="{{site.baseurl}}resources.html" class="nav">Resources</a></li>
      <li class="nav"><a href="{{site.baseurl}}links.html" class="nav">Links</a></li>
      <li class="nav"><a href="{{site.baseurl}}contact.html" class="nav">Contact</a></li>
    </ul>
  </div>
</nav>
<br>