
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&display=swap');

body {
    background-color: white;
    color: black;
    font-family: 'Roboto Mono';
    margin: 0;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}